/*@charset "utf-8";

/******** HSilder Default Styles ********/
/*.slider article{
	color: white;
	text-shadow: 1px 1px 3px rgba(51, 51, 51, 0.50);
	right: 0;	 /*default at right*//**
	background: -webkit-linear-gradient(top,transparent ,rgba(0, 0, 0, 0.80) 100%);
	background: -moz-linear-gradient(top,transparent ,rgba(0, 0, 0, 0.80) 100%);
	background: -ms-linear-gradient(top,transparent ,rgba(0, 0, 0, 0.80) 100%);
	-webkit-transition:opacity 0.5s ease,-webkit-transform 1s ease-out;
	-moz-transition:opacity 0.5s ease,-moz-transform 1s ease-out;
	-ms-transition:opacity 0.5s ease,-ms-transform 1s ease-out;
    padding: 42px;
	padding-left: 20px;*/
}
/*.slider article.left{
	left:0;
}
.slider article.right{
	right:0;
}
.slider h1{
	text-align: right;
	font-size: 70px;
	line-height: 1.2;
    margin-bottom: 0.3em;
	margin-right: 5px;
}
.slider article.left h1{
	text-align: left;
}
.slider h2{
	font-size: 40px;
	float: right;
	margin-right: 10px;
}
.slider h3{
	font-size: 27px;
	float: right;
    margin-top: 12px;
	margin-right: 20px;
}

.slider section.active article{
	opacity: 1;
	-webkit-transform:translate3d(0,0px,0);
	-moz-transform:translate3d(0,0px,0);
	-ms-transform:translate3d(0,0px,0);
}
.slider section article{
	opacity: 0;
	-webkit-transform:translate3d(0,200px,0);
	-moz-transform:translate3d(0,200px,0);
	-ms-transform:translate3d(0,200px,0);
}*/

/******* pagination ********/
.pagination {
  position: absolute;
  right: 10px;
  top: 25%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination li {
  padding: 5px;
  width: 16px;
  height: 16px;
}
.pagination li a{
  margin: 0 auto;
  width: 10px;
  height: 10px;
  display: block;
  background: #fafafa;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;

  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -ms-transition:all 0.2s ease;
}

.pagination li a:hover,.pagination li a.active{
  margin: 0 auto;
  width: 10px;
  height: 10px;
  display: block;
  background: none;
  border-radius: 10px;
  border: 1px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition:all 0.5s ease ;
}

/*@media only screen and (max-width: 768px){
    .slider h1{
        font-size:50px;
    }
    .slider h2{
        font-size:30px;
    }
    .slider h3{
        font-size:22px;
        margin-top: 8px;
        margin-right: 10px;
    }
}*/
