/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1120px) {
	.header h1{
		font-size: 35px;;
	}
	.header h5{
		font-size: 15px;;
	}
}	
/* 1042px */
@media only screen and (max-width : 1080px) {
	.header {
		margin-top: -20em;
	}
/* 1032px */
@media only screen and (max-width : 1032px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.sf-menu a {
		padding-top: 0.5em;
		padding-right: 0.8em;
		padding-bottom: 0.5em;
		padding-left: 0.8em;
	}
	.navigation {
		top: 6%;
	}	
	.header {
		margin-top: -20em;
	}
}

@media only screen and (max-width : 880px) {
	.header {
		margin-top: -17em;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.nav {
		display: none;
	}
	.logo {
		text-align: center;
		width: 75%;
		padding-top: 0px;
		margin-left: 10%;
	}
	.header {
		
	}
	.header h1 {
		font-size: 25px;
	}
	.header button {
		padding-top: 0.3em;
		padding-right: 0.5em;
		padding-bottom: 0.3em;
		padding-left: 0.5em;
		font-size: 1.3em
	}
	.navigation {
		top: 3%;
	}
	
}

@media only screen and (max-width : 690px) {
	.header-item-text {
		display: none;
	}
	.header h1 {
		font-size: 20px;
	}
	.header-btn {
		margin-left: 40%;
	}
	.navigation {
		top: 1%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 630px) {

	button {
		padding-top: 0.3em;
		padding-right: 0.5em;
		padding-bottom: 0.3em;
		padding-left: 0.5em;
		font-size: 1.3em
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	button {
		padding-top: 0.2em;
		padding-right: 0.3em;
		padding-bottom: 0.2em;
		padding-left: 0.3em;
		font-size: 1.1em
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}