html, body, #myVerticalCarousel
	height: 100%
	margin: 0
	background-color: #54a6fc

p
	display: inline-block
	vertical-align: middle
	color: #fff

span
	display: inline-block
	vertical-align: middle
	height: 100%



.item
	min-height: 600px
	height: 100vh
	position: relative
	background-size: 100% 100% 
	background-position: center

#a
	background-image: url("../img/bg-1.png")
	.svg-container 
		display: inline-block
		position: relative
		width: 400px
		padding-top: 20% 
		overflow: visible
		margin-left: 570px
		margin-top: 260px
		h1 
			font-family: 'Lato', sans-serif
			font-size: 50px
			color: #455ca4
			margin-left: -500px
			margin-top: -340px
			width: 550px
		.element-1 
			animation: waves 2.5s linear
			animation-delay: .1s
		.element-2
			animation: waves 2.5s linear .7s forwards 
		.element-3 
			animation: waves 2.5s linear 1.3s forwards
		.element-4
			width: 46px
			height: 46px
			border-radius: 100%
			border: 2px solid #d01536
			margin-left: -7px
			margin-top: -196px 
		.circle 
			display: block
			height: 18px
			width: 18px
			border-radius: 100%
			background: #ca764c
			border: 1px solid #d01536
			margin: 10px
			transition: 5s ease
			position: absolute
			top: 0px
			animation-duration: 2s
			animation-timing-function: ease-out 
			animation-delay: 0
			animation-direction: normal
			animation-iteration-count: infinite
			animation-fill-mode: none
			animation-play-state: running
		@-webkit-keyframes waves 
			0% 
				transform: scale(1)
				opacity: 1
			100% 
				transform: scale(4)
				opacity: 0
		@keyframes bloop 
			0% 
				transform: scale3d(1, 1, 1)
			30% 
				transform: scale3d(1.25, 0.75, 1)
			40% 
				transform: scale3d(0.75, 1.25, 1)
			50% 
				transform: scale3d(1.15, 0.85, 1)
			65% 
				transform: scale3d(.95, 1.05, 1)
			75% 
				transform: scale3d(1.05, .95, 1)
			100% 
				transform: scale3d(1, 1, 1)
		p 
			font-family: 'Lato', sans-serif
			font-size: 40px
			color: #43508e
			margin-left: 80px
			margin-top: -30px
		#footer 
			display: inline-block
			position: relative
			width: 600px
			padding-top: 20% 
			overflow: visible
			margin-left: -350px
			margin-top: 445px
			border-radius: 100%
			background: #f78b1f
			background: -webkit-radial-gradient(rgba(247,139,31,1), rgba(247,139,31,0))
			background: -o-linear-gradient (rgba(255,0,0,0), rgba(255,0,0,1))
			background: -moz-linear-gradient (rgba(255,0,0,0), rgba(255,0,0,1))
			background: linear-gradient (rgba(255,0,0,0), rgba(255,0,0,1))
		i 
			margin-top: 410px
			margin-left: -300px
			font-weight: 500
			color: #fff 
			position: absolute
			z-index: 2




#b
	background-image: url("../img/bg-2.png")

#c 
	background: black

#d 
	background-image: url("../img/bg-3.1.png")
	h1
		color: #fff

#e 
	background-image: url("../img/bg-3.2.png")
	h1
		color: #fff

#f 
	background-image: url("../img/bg-3.3.png")
	h1
		color: #fff





.vertical-carousel-indicators 
	li
		box-sizing: border-box
		height: 16px
		width: 16px
		border-radius: 50%
		border: 8px solid #fff
		display: block
		margin: 10px 0
		cursor: pointer
		background: none
		transition: all 200ms ease-in-out

.vertical-carousel-indicators 
	li.active
		border: 8px solid #f78b1f

.vertical-carousel-box .item
	overflow: visible



.pagination 
	position: absolute
	right: 10px
	top: 95%
	z-index: 5
	list-style: circle
	margin: 0
	padding: 0
	display: block
	li 
		padding: 5px
		width: 40px
		height: 20px
		a
			margin-right: 20px
			width: 16px
			height: 16px
			display: block
			cursor: pointer
			background: #fafafa
			border-radius: 50%
			-webkit-border-radius: 50%
			-moz-border-radius: 50%
			-ms-border-radius: 50%
			-webkit-transition:all 0.2s ease
			-moz-transition:all 0.2s ease
			-ms-transition:all 0.2s ease
		a:hover, a.active
			margin-right: 20px
			width: 16px
			height: 16px
			display: block
			background: #f78b1f
			border-radius: 50%
			-webkit-border-radius: 50%
			-moz-border-radius: 50%
			-webkit-transition: all 0.5s ease 

.pagination>li:first-child>a
	border-top-left-radius: 50%
	border-bottom-left-radius: 50%

.pagination>li:last-child>a
	border-top-right-radius: 50%
	border-bottom-right-radius: 50%